<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding__2_IContrato" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50681/4_HostServer/4_2_PrimerServicioWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding__2_IContrato"
                contract="_2_IContrato" name="BasicHttpBinding__2_IContrato" />
        </client>
    </system.serviceModel>
</configuration>